  <footer
      class="bg-[#020617]/80 border-t border-white/10 text-center py-5 text-sm text-gray-300"
    >
      © 2026
      <span class="font-bold">
        <span
          class="bg-gradient-to-r from-yellow-400 to-orange-400 bg-clip-text text-transparent"
          >Six</span
        ><span class="text-white">Storm</span>
      </span>

      • Developed by Naveen Rathore

      <br /><br />

      <a href="/legal" class="hover:text-red-400">Disclaimer</a> |
      <a href="/privacy-policy" class="hover:text-red-400">Privacy</a> |
      <a href="/legal" class="hover:text-red-400">Terms</a>
    </footer>