<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  
    <link rel="icon" type="image/png" href="/images/favicon2.png" />
    <link rel="shortcut icon" href="/images/favicon2.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="RQDDLZXyk8LLoNq02uDwhfcGWUhNYj4kGHlJc9W5ib0"
    />


    <meta
      name="description"
      content="SixStorm provides live cricket streaming access, match updates, and sports coverage from publicly available sources."
    />

    <meta
      name="keywords"
      content="cricket live, cricket streaming, live cricket match, IPL live, cricket watch online"
    />

    <meta name="author" content="Naveen Rathore" />

    <meta property="og:title" content="SixStorm Live Cricket Streaming" />
    <meta
      property="og:description"
      content="Watch live cricket matches and stay updated with match coverage."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sixstorm-live-0kkp.onrender.com" />
    <meta
      property="og:image"
      content="https://sixstorm-live-0kkp.onrender.com/images/favicon.png"
    />

    <meta name="robots" content="index, follow" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://pl29102522.profitablecpmratenetwork.com/3c/b2/8d/3cb28d1f2936aa5def15aaacf207b393.js"></script>

  </head>
</html>
