<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= title %></title>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

</head>

<body class="bg-black text-white min-h-screen flex flex-col items-center">

<!-- HEADER -->

<div class="w-full max-w-5xl text-center p-4">

<h1 class="text-3xl font-bold text-red-500">
SixStorm
</h1>

<p class="text-gray-400">
Watch IPL 2026 Live Streaming
</p>

</div>


<!-- PLAYER -->

<div class="w-full max-w-5xl px-4">

<div class="relative bg-black rounded-xl overflow-hidden">

<!-- Loader -->

<div id="loader"
class="absolute inset-0 flex items-center justify-center bg-black z-10">

<p class="text-white text-lg animate-pulse">
Loading Stream...
</p>

</div>

<video
id="video"
class="w-full aspect-video"
controls
playsinline
muted
></video>

</div>

</div>


<!-- BUTTON -->

<div class="mt-6">

<a href="/"
class="bg-red-600 px-6 py-3 rounded-full">
Home
</a>

</div>


<script>

const video = document.getElementById("video");
const loader = document.getElementById("loader");

const videoSrc = "<%- stream %>";

let hls;

function startStream(){

if (Hls.isSupported()) {

hls = new Hls({

maxBufferLength: 30,
maxMaxBufferLength: 60,

liveSyncDurationCount: 3,
liveMaxLatencyDurationCount: 10,

enableWorker: true,
lowLatencyMode: true

});

hls.loadSource(videoSrc);
hls.attachMedia(video);

hls.on(Hls.Events.MANIFEST_PARSED,function(){

loader.style.display="none";

video.play().catch(()=>{

video.muted=true;
video.play();

});

});

hls.on(Hls.Events.ERROR,function(event,data){

console.log("HLS ERROR:",data);

if(data.fatal){

switch(data.type){

case Hls.ErrorTypes.NETWORK_ERROR:
console.log("Network Error -> Reloading");
hls.startLoad();
break;

case Hls.ErrorTypes.MEDIA_ERROR:
console.log("Media Error -> Recovering");
hls.recoverMediaError();
break;

default:
console.log("Fatal Error -> Restarting");
setTimeout(startStream,2000);

}

}

});

}

else if(video.canPlayType("application/vnd.apple.mpegurl")){

video.src = videoSrc;

video.addEventListener("loadedmetadata",function(){

loader.style.display="none";

video.play();

});

}

}

startStream();

</script>


</body>
</html>